.nav-link{
    color: white; 
}

@media (max-width: 991px){
    .nav-link{
        text-align: center;
    }
    .navbar-nav{
        background: #2C5364;
        filter: alpha(opacity=50);
        border-radius: 8px;
    }
    .button-login{
        margin-bottom: 10px;
    }
}


