@media (max-width: 991px){
    .nav-link{
        text-align: center;
        color: white;
    }
    .navbar-nav{
        background: #2C5364;  /* fallback for old browsers */
        filter: alpha(opacity=50);
        border-radius: 8px;
        /*background: -webkit-linear-gradient(to bottom, #a1b5cb, #7a8a9c);   Chrome 10-25, Safari 5.1-6 */
        /*background: linear-gradient(to bottom, #a1b5cb, #7a8a9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .button-login{
        margin-bottom: 10px;
    }
}


