<div class="row">
    <h1>Habilidades</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [imageSrc]="'../../../assets/images/habilidades/html.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'#1f1e1e'"
        [innerStrokeColor]="'#e8e8e8'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [imageSrc]="'../../../assets/images/habilidades/CSS.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="70"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'#1f1e1e'"
        [innerStrokeColor]="'#e8e8e8'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [imageSrc]="'../../../assets/images/habilidades/js.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'#1f1e1e'"
        [innerStrokeColor]="'#e8e8e8'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [imageSrc]="'../../../assets/images/habilidades/git.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="80"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'#1f1e1e'"
        [innerStrokeColor]="'#e8e8e8'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [imageSrc]="'../../../assets/images/habilidades/grupal.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'#1f1e1e'"
        [innerStrokeColor]="'#e8e8e8'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [imageSrc]="'../../../assets/images/habilidades/eng.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'#1f1e1e'"
        [innerStrokeColor]="'#e8e8e8'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    
</div>