.row{
    padding: 40px;

}
div{
    background-color: #a1b5cb;
    text-align: center;
}
/*mediaqry?
@media (min-width: 576px){
    #face-profile{
        position: relative;
        width: 100%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        top: -100px;
        
    }
}
@media (max-width: 575px){
    #face-profile{
        position: center;
        width: 50%;
        border-radius: 8%;
        box-shadow: 3px 3px 3px grey;
    }
}*/

#face-profile{
    position: relative;
    width: 100%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px grey;
    
}

#nombre{
    font-weight: bold;
    position: relative;
    top: 100px;
}
#titulo{
    position: relative;
    top: 100px;
}